.movie-card {
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  padding: 1.5rem;
  cursor: pointer;
  align-items: flex-start;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
}

.fa-star {
  color: white;
  font-size: 25px;
  margin: 10px;
}

.fa-star:hover {
  color: gold;
}

.favorite {
  color: gold;
}

.movie-card:hover .card,
.movie-card.hover .card {
  transform: rotateY(180deg);
}

.movie-card,
.front,
.back {
  width: 300px;
  height: 400px;
}

.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(0deg);
  border: 1px solid white;
  border-radius: 15px;
}

.back {
  transform: rotateY(180deg);
  border: 1px solid white;
  border-radius: 15px;
  text-align: left;
}

.back p {
  color: white;
}

.overview {
  margin-top: 10px;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.title,
.rating,
.release {
  font-family: "Poiret One";
  font-size: 20px;
  padding: 5px 10px 0 10px;
}

.title {
  font-size: 24px;
  color: white;
}
