.movie-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 250px;
  margin: 5px;
  transition: 0.3s;
}