.movie-card {
  position: relative;
  overflow: hidden;
	width: 200px;
  height: 260px;
  perspective: 1000px;
  padding: 1.5rem;
  cursor: pointer;
	align-items: flex-start;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
}

.fa-star {
  color: white;
  font-size: 25px;
  margin: 10px;
}

.fa-star:hover {
  color: gold;
}

.favorite {
  color: gold;
}

	/* flip the pane when hovered */
	.movie-card:hover .card, .movie-card.hover .card {
		transform: rotateY(180deg);
	}

.movie-card, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.card {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(0deg);
  border: 1px solid white;
  border-radius: 15px;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  border: 1px solid white;
  border-radius: 15px;
  text-align: left;
}

.back p {
  color: white;
}

.overview {
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

.title,
.rating,
.release {
  font-family: 'Poiret One';
  font-size: 26px;
  padding: 5px 10px 0 10px;
}