.movie-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 250px;
  margin: 5px;
  transition: 0.3s;
	width: 280px;
	height: 360px;
	border-radius: 15px;
	padding: 1.5rem;
	position: relative;
  display: flex;
  cursor: pointer;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
	&:hover {
		transform: translateY(-20px);
  }	&:before {
			opacity: 1;
  }	
}