img {
  height: 200px;
  width: 200px;
  margin: 50px;
  border: 2px solid #3498db;
}

.about {
  width: 700px;
  margin: 0 auto 200px auto;
  font-size: 1.5rem;
  color: white;
}

.movie-db {
  color: #3498db;
}

.return-home {
  font-size: 3rem;
}
