.create-account {
    background-color: #307F9F;
    border: 0;
    color: #FFFFFF;
    font-size: 1.25em;
    font-weight: normal;
    margin: 1.5rem 6.5rem 1.5rem 0;
    outline: none;
    padding: .75rem 1rem;
    width: 250px;
    height: 50px;
    cursor: pointer;
}

main {
        display: flex;
        justify-content: center;
        margin: 0 auto;
}
      
main form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 250px;
}

header {
    padding-top: 50px;
        color: white;
        font-family: Anton;
}
      
h1 {
        margin: 0 auto 25px auto;
        font-size: 100px;
        color: #307F9F;
}