.create-account {
        background-color: #307F9F;
        border: 0;
        color: #FFFFFF;
        font-size: 1.25em;
        font-weight: normal;
        margin: 1.5rem 6.5rem 1.5rem 0;
        outline: none;
        padding: .75rem 1rem;
        width: 250px;
        height: 50px;
        cursor: pointer;
}

.signup {
    justify-content: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 250px;
  }