@import '../../SCSS/variables.scss';

html {
  background-image: url(../../images/redmovie.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  padding-top: 50px;
  color: white;
  font-family: 'Anton';
  h1 {
    margin: 0 auto 25px auto;
    font-size: 100px;
    color: $primary-blue-color;
    i {
      color: #af2e53;
    }    
  }
}

main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

main form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  position: absolute;
}

input {
  height: 35px;
  border: 2px solid $primary-blue-color;
  background: #daebf7;
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
  &::placeholder {
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding-left: 5px;
  }
}

.login {
  background-color: $primary-blue-color;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: normal;
  margin: 1.5rem 6.5rem 1.5rem 0;
  outline: none;
  padding: 0.75rem 1rem;
  width: 250px;
  height: 50px;
  cursor: pointer;
  &:hover {
    background-color: #9ddaf1;
    color: black;
  }
}

p {
  color: $primary-blue-color;
  font-size: 20px;
  font-weight: bold;
}

h2 {
  color: white;
}

.incorrect-user-info {
  font-weight: 300;
  font-size: 1em;
  margin: 15px auto;
  color: red;
  font-weight: bold;
  padding-top: 10px;
}

.form-link {
  font-size: 28px;
  font-weight: bold;
  padding-top: 16px;
  &:hover {
    color: $primary-blue-color;
  }
}

.movie-home {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.3;
  justify-content: center;
}
